.main-nav__list{
    display: none;
}

.main-nav--no-js .main-nav__toogle {
    display: none;
  }
  
.main-nav--no-js .main-nav__wrapper {
    position: relative;
  }

  .main-nav--closed {
    position: relative;
}

.main-nav--closed .main-nav__toogle {
    background-image: url(../img/menu-cross.webp);
}

.main-nav--closed .main-nav__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: absolute;
    height: calc(100vh - 100px);
    width: 40vw;
    background-color:  rgba(189, 189, 189, 0.9);
    left:-30px;
    top:100px;
    list-style-type: none;
    border-right:  1px solid #9e9e9e;
}

.main-nav__list-item{
  padding: 20px 0;
  text-align: center;
}

.main-nav__link{
  text-decoration: none;
  text-transform: uppercase;
  color: #212121;
}

  .hidden{
    display: none;
}

body{
  margin: 0;
  max-width: 100%;
  width: 100vw;
  background-color: #f1f1f1;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container{
  box-sizing: border-box; 
  height: 100vh;
}

.container--main{
  background-image: url(../img/bg-main3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.container--gallery{
  height: auto;
}

.page-header{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100px;
  background: rgba(189, 189, 189, 0.9);
  padding: 0 30px;
  box-sizing: border-box;
  border-bottom: 1px solid #9e9e9e;
}

.page-header__logo{
  justify-self: center;
  align-self: center;
}

.main-nav__toogle{
  position: absolute;
  width: 50px;
  height: 30px;
  background-image: url(../img/menu-burger.webp);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
  top: 40px;
  border: none;
  outline: none;
  background-color: transparent;
}

.page-header__logo-img{
  width: 60px;
}

.page-header__contact{
  width: 150px;
  justify-self: end;
  height: 50px;
  align-self: center;
  border: 2px solid #fff;
  text-transform: uppercase;
  background-color: transparent;
  color: #212121;
  outline: none;
}

.main-nav{
  position: relative;
}

.page-main{
  height: calc( 85vh - 60px );
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0 50px;
}

.page-main__h2{
  font-size: 40px;
  background: linear-gradient(300deg, rgba(255,255,255,0) 15%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 85%, rgba(255,255,255,0) 85%);
  padding: 30px 50px;
  text-transform: uppercase;
}

.page-main__p{
  color: white;
  background-color: #c2c2c2;
  margin-right: 50px;

}

.foto-item{
  width: 15vw;
  transition: transform 0.5s;
  margin: 3px;
  min-width: 150px;
}

.foto-item:hover{
  transform: scale(1.7)
}

.page-main--gallery{
  height: auto;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  padding: 30px 0;
}