.main-nav__list{
    display: none;
}

.main-nav--no-js .main-nav__toogle {
    display: none;
  }
  
.main-nav--no-js .main-nav__wrapper {
    position: relative;
  }

  .main-nav--closed {
    position: relative;
}

.main-nav--closed .main-nav__toogle {
    background-image: url(../img/menu-cross.webp);
}

.main-nav--closed .main-nav__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: absolute;
    height: calc( 100vh - 50px);
    width: 50vw;
}

  .hidden{
    display: none;
}

body{
  margin: 0;
  max-width: 100%;
  width: 100vw;
  background-color: #f1f1f1;
  box-sizing: border-box;
}

.container{
  margin:0 30px;
  box-sizing: border-box; 
  height: 100vh;
}

.container--gallery{
  height: auto;
}

.page-header{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 15vh;
}

.page-header__logo{
  justify-self: center;
  align-self: center;
}

.main-nav__toogle{
  position: absolute;
  width: 50px;
  height: 30px;
  background-image: url(../img/menu-burger.webp);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
  top: 40px;
}

.page-header__logo-img{
  width: 60px;
}

.page-header__contact{
  width: 100px;
  justify-self: end;
  height: 30px;
  align-self: center;
}


.main-nav{
  position: relative;
}

.page-main{
  height: calc( 85vh - 60px );
  box-sizing: border-box;
}

.foto-item{
  width: 15vw;
}

.page-main--gallery{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}