.main-nav__list {
  display: none
}
.main-nav--no-js .main-nav__toogle {
  display: none
}
.main-nav--no-js .main-nav__wrapper {
  position: relative
}
.main-nav--closed {
  position: relative
}
.main-nav--closed .main-nav__toogle {
  background-image: url(../img/menu-cross.webp)
}
.main-nav--closed .main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  height: calc(100vh - 50px);
  width: 50vw
}
.hidden {
  display: none
}
body {
  margin: 0;
  max-width: 100%;
  width: 100vw;
  background-color: #f1f1f1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
.container {
  margin: 0 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100vh
}
.container--gallery {
  height: auto
}
.page-header {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  height: 15vh
}
.page-header__logo {
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center
}
.main-nav__toogle {
  position: absolute;
  width: 50px;
  height: 30px;
  background-image: url(../img/menu-burger.webp);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
  top: 40px
}
.page-header__logo-img {
  width: 60px
}
.page-header__contact {
  width: 100px;
  -ms-grid-column-align: end;
  justify-self: end;
  height: 30px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center
}
.main-nav {
  position: relative
}
.page-main {
  height: calc(85vh - 60px);
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
.foto-item {
  width: 15vw
}
.page-main--gallery {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}